.containers {
  margin-left: auto;
  margin-right: auto;
  padding-top: 130px;
  margin-bottom: 80px;
}

.Containerformm {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  background-color: white;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 60px #f2f4f5;
  text-align: center;
}

.page-loader {
  text-align: center;
}

.btm-active-e {
  text-decoration: none;
  color: #fff;
  background-color: #ffcb40;
  padding: 15px;
  border-radius: 50px;
  width: 75%;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.btm-active-e:hover {
  color: white;
}

.inpu {
  margin-right: 2rem;
  font-family: Helvetica;
}

.Phone {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  background-color: white;
  height: auto;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 60px #f2f4f5;
}

.register-page-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  background-color: white;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 60px #f2f4f5;
}

.Containerform p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #ffcb40;
}

.psol {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #ffcb40;
  margin-bottom: 30px;
}

.login-form {
  max-width: 400px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.form-group {
  margin-bottom: 2rem;
}

.form-control {
  height: 60px;
}

.btn-btn-primary {
  padding: 12px;
  background-color: white;
  border-radius: 5px;
  color: #ffcb40;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}

.forgot {
  color: #ffcb40;
}

.forgot:hover {
  color: #ffcb40;
}
.login-form-forgot {
  color: #ffcb40;
  margin-left: auto;
}

.login-form-forgot:hover {
  color: #ffcb40;
}

.btm {
  text-decoration: none;
  color: #fff;
  background-color: #8d8d8d;
  padding: 20px;
  border-radius: 50px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding-left: 100px;
  padding-right: 100px;
  outline: none;
}

.btm:hover {
  color: white;
}

.phoneinput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 15px;
  margin-top: 2rem;
  width: 100%;
}

.btm {
  text-decoration: none;
  color: #767676;
  background-color: #ebebeb;
  border-color: #ebebeb;
  padding: 15px;
  border-radius: 50px;
  width: 250px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.btm:hover {
  text-decoration: none;
  color: #767676;
  background-color: #f1f1f1;
}

.btm-active {
  text-decoration: none;
  color: #fff;
  background-color: #ffcb40;
  padding: 15px;
  border-radius: 50px;
  width: 250px;
  text-align: center;
  cursor: pointer;
}

.btm-active:hover {
  color: white;
}

@media (min-width: 320px) and (max-width: 410px) {
  .btm {
    text-decoration: none;
    color: #767676;
    background-color: #ebebeb;
    border-color: #ebebeb;
    padding: 15px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }

  .btm-active {
    text-decoration: none;
    color: #fff;
    background-color: #ffcb40;
    padding: 15px;
    border-radius: 50px;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }

  .phoneinput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 15px;
    margin-top: 2rem;
    width: 100%;
  }
}

@media (min-width: 411px) and (max-width: 768px) {
  .btm {
    text-decoration: none;
    color: #767676;
    background-color: #ebebeb;
    border-color: #ebebeb;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    text-align: center;
    cursor: pointer;
  }

  .btm-active {
    text-decoration: none;
    color: #fff;
    background-color: #ffcb40;
    padding: 15px;
    border-radius: 50px;
    width: 110px;
    text-align: center;
    cursor: pointer;
  }

  .phoneinput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 15px;
    margin-top: 2rem;
    width: 100%;
  }
}
