.container_qa {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.container_qa_childrem {
  width: 100%;
  max-width: 1100px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.container_qa_item {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 2rem;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.container_qa_item div {
  margin: 20px;
  text-align: center;
}

.container_qa_item div h1 {
  font-weight: 700;
  font-size: 16px;
}

.container_qa_item div p {
  font-weight: 300;
  font-size: 14px;
}

.container_qa_item div img {
  width: 150px;
  height: 150px;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .container_qa_item {
    grid-template-columns: 100%;
    gap: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container_qa_item {
    grid-template-columns: 100%;
    gap: 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container_qa_item {
    grid-template-columns: 50% 50%;
    gap: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container_qa_item {
    grid-template-columns: 33% 33% 33%;
    gap: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container_qa_item {
    grid-template-columns: 33% 33% 33%;
    gap: 2rem;
  }
}
