.containers_restaurantes {
  width: 100%;
  padding-bottom: 50px;
}

.Barner-restaurant-full {
  background-color: #eeeeee;
  padding-top: 100px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.hero {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  padding: 20px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  background-color: #eeeeee;
}

.hero div {
  min-height: 370px;
  height: auto;
  width: 100%;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.barners {
  width: 350px;
}

.titles {
  justify-content: center !important;
  align-self: flex-start;
  align-items: center !important;
  text-align: left;
  padding-top: 60px;
}

.titles h1 {
  font-weight: 700;
  font-size: 42px;
  text-align: left;
}

.titles p {
  text-align: left;
}

.hero div button {
  padding: 18px;
  width: 350px;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  background-color: #ffcb40;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.logi_cont {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.inf {
  margin: 20px;
}

.inf h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  text-align: center;
}

.inf p {
  margin-bottom: 50px;
}

.inf a {
  padding: 18px;
  width: 350px;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  background-color: #ffcb40;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .hero div {
    min-height: 220px;
    height: auto;
  }
  .hero {
    grid-template-columns: 100%;
  }

  .hero div img {
    width: 200px;
    margin-top: 30px;
  }

  .titles {
    padding-top: 0px;
  }

  .titles h1 {
    font-size: 32px;
    text-align: center;
  }

  .titles p {
    text-align: center;
  }

  .hero div button {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .hero div {
    min-height: 220px;
    height: auto;
  }
  .hero {
    grid-template-columns: 100%;
  }

  .hero div img {
    width: 200px;
    margin-top: 30px;
  }

  .titles {
    padding-top: 0px;
  }

  .titles h1 {
    font-size: 32px;
    text-align: center;
  }

  .titles p {
    text-align: center;
  }

  .hero div button {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero {
    grid-template-columns: 50% 50%;
  }

  .hero div img {
    width: 260px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero {
    grid-template-columns: 50% 50%;
  }

  .hero div img {
    width: 300px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hero {
    grid-template-columns: 50% 50%;
  }

  .hero div img {
    width: 350px;
  }
}
