.card_order {
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  padding: 15px;
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
}

.card_order_active {
  margin-bottom: 20px;
  background-color: #f4f5f5;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  padding: 15px;
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
}

.img__orden {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center center;
}

.info_order {
  margin-left: 1rem;
  margin-right: 1rem;
}

.info_order h4 {
  font-weight: 600;
  font-size: 18px;
}

.info_order p {
  color: #95ca3e;
}

.info_order h4 span {
  color: #ffcb40;
}

.details_order p {
  color: black;
  font-weight: 700;
}

.info_order button {
  text-decoration: none;
  color: #ffcb40;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  padding: 8px;
  border-radius: 7px;
  width: 45%;
  margin-right: 7px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}

.img__details {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center center;
}

.conten-modal-details {
  padding: 20px;
}

.estado {
  margin-bottom: 60px;
}

.estado h3 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  color: #95ca3e;
  line-height: 0pt;
}

.estado span {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0pt;
}

.titulos {
  margin-bottom: 60px;
}

.titulos h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 0pt;
}

.valorar {
  text-decoration: none;
  color: white;
  background-color: #ffcb40;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  padding: 8px;
  border-radius: 7px;
  width: 100%;
  margin-right: 7px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}

._plato {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 20px;
}

._plato h2 {
  text-transform: uppercase;
  font-weight: 900;
}

._plato img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center center;
}

._ingredientes {
  margin-left: 1rem;
  width: 300px;
}

.dejar_op {
  width: 100%;
  min-width: 200px;
  text-decoration: none;
  color: white;
  background-color: #ffcb40;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  padding: 8px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}
