.Constiner-home {
  background-color: transparent;
  padding-bottom: 5rem;
}

.Barner-home-full {
  background-color: #eeeeee;
  padding-top: 100px;
  width: 100%;
  height: auto;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

/* #FFF2D9; */

.Barner-home {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  padding: 20px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.Barner-home div {
  min-height: 370px;
  height: auto;
  width: 100%;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.Barner-home div img {
  width: 350px;
}

.search {
  justify-content: center !important;
  align-self: center;
  align-items: center !important;
  text-align: left;
  padding-top: 20px;
}

.search input {
  width: 70%;
  height: 60px;
  border: 2px solid #ebebeb;
  border-radius: 7px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  text-align: left;
}

.search button {
  width: 25%;
  height: 60px;
  margin-left: auto;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: #ffcb40;
  color: white;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.search button:hover {
  cursor: pointer;
}

.search h1 {
  line-height: 1.2;
  font-size: 42px;
  text-align: left;
  font-weight: bold;
}

.search p {
  text-align: left;
  font-weight: 300;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .Barner-home {
    grid-template-columns: 100%;
  }

  .Barner-home div img {
    width: 280px;
    margin-top: 30px;
  }

  .search input {
    width: 100%;
  }

  .search button {
    width: 100%;
    margin-top: 20px;
  }

  .search h1 {
    text-align: center;
  }

  .search p {
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .Barner-home {
    grid-template-columns: 100%;
  }

  .Barner-home div img {
    width: 280px;
    margin-top: 30px;
  }

  .search input {
    width: 100%;
  }

  .search button {
    width: 100%;
    margin-top: 20px;
  }

  .search h1 {
    text-align: center;
  }

  .search p {
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Barner-home {
    grid-template-columns: 50% 50%;
  }

  .Barner-home div img {
    width: 260px;
  }

  .search input {
    width: 65%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Barner-home {
    grid-template-columns: 50% 50%;
  }

  .Barner-home div img {
    width: 300px;
  }

  .search input {
    width: 70%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Barner-home {
    grid-template-columns: 50% 50%;
  }

  .Barner-home div img {
    width: 350px;
  }

  .search input {
    width: 70%;
  }
}
