.ContainerCard {
  width: 100%;
  min-height: 50vh;
  height: auto;
  background-color: #ffcc4034;
  padding-top: 30px;
  padding-bottom: 10px;
}

.ContainerCard_page3 {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.Features {
  max-width: 1100px;
  width: 96%; /*95%*/
  margin: 40px auto 100px auto;
  position: relative;
  z-index: 2;
}

.FeatureContainer {
  width: 100%;
  margin-bottom: 70px;
  position: relative;
}

.FeatureContainer img {
  width: 50%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.FeatureText {
  text-align: left;
  position: absolute;
  padding: 4% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 18%;
  bottom: 18%;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  width: 55%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  color: #2e3333;
}

.FeatureContainer:nth-child(even) {
  text-align: right;
}

.FeatureContainer:nth-child(even) .FeatureText {
  right: initial;
  left: 0;
}

.FeatureText h3 {
  font-weight: bold;
}

@media (max-width: 992px) {
  .FeatureContainer img {
    width: 75%;
    object-fit: cover;
    object-position: center center;
  }

  .FeatureText {
    top: 0;
    bottom: 0;
    width: 40%;
  }

  .FeatureText h3 {
    font-size: 22px;
  }

  .FeatureText p {
    font-size: 16px;
  }
}

@media (max-width: 680px) {
  .FeatureContainer {
    margin-bottom: 50px;
  }

  .FeatureContainer img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .FeatureText {
    position: static;
    width: 100%;
    padding: 30px;
  }
}
