.afiction_conatiner {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.afiction_conatiner_title {
  margin-left: 1rem;
  display: flex;
  color: #212121;
  font-weight: bold;
  font-size: 36px;
}

.afiction_item {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 2rem;
  position: relative;
}

.afiction_item div {
  min-height: 250px;
  height: auto;
  margin-right: 1rem;
  margin-left: 1rem;
}

.afiction_item div img,
.afiction_item_left div img,
.afiction_item_left_full div img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center center;
}

.afiction_item div h1,
.afiction_item_left div h1,
.afiction_item_left_full div h1 {
  margin-top: -50px;
  margin-left: 5px;
  display: flex;
  color: white;
  font-weight: bold;
}

.afiction_item div p,
.afiction_item_left div p,
.afiction_item_left_full div p {
  line-height: 1.5;
  margin-top: 5px;
}

.afiction_item div a,
.afiction_item_left div a,
.afiction_item_left_full div a {
  margin-top: -10px;
  display: flex;
}

.afiction_item_left {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 2rem;
}

.afiction_item_left div {
  min-height: 250px;
  height: auto;
  margin-right: 1rem;
  margin-left: 1rem;
}

.afiction_item_left_full {
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: 2rem;
}

.afiction_item_left_full div {
  min-height: 250px;
  height: auto;
  margin-right: 1rem;
  margin-left: 1rem;
}

@media (min-width: 320px) {
  .afiction_item,
  .afiction_item_left {
    grid-template-columns: 100%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 321px) and (max-width: 600px) {
  .afiction_conatiner_title {
    margin-left: 1rem;
    display: flex;
    color: #212121;
    font-weight: bold;
    font-size: 26px;
  }

  .afiction_item,
  .afiction_item_left {
    grid-template-columns: 50% 50%;
  }

  .afiction_item div h1,
  .afiction_item_left div h1 {
    margin-top: -50px;
    margin-left: 5px;
    display: flex;
    color: white;
    font-weight: bold;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .afiction_conatiner_title {
    margin-left: 1rem;
    display: flex;
    color: #212121;
    font-weight: bold;
    font-size: 26px;
  }

  .afiction_item,
  .afiction_item_left {
    grid-template-columns: 50% 50%;
  }

  .afiction_item div h1,
  .afiction_item_left div h1 {
    margin-top: -50px;
    margin-left: 20px;
    display: flex;
    color: white;
    font-weight: bold;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .afiction_conatiner_title {
    margin-left: 1rem;
    display: flex;
    color: #212121;
    font-weight: bold;
    font-size: 30px;
  }

  .afiction_item,
  .afiction_item_left {
    grid-template-columns: 50% 50%;
  }

  .afiction_item div h1,
  .afiction_item_left div h1 {
    margin-top: -50px;
    margin-left: 5px;
    display: flex;
    color: white;
    font-weight: bold;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .afiction_item {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 2rem;
    position: relative;
  }

  .afiction_item_left {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .afiction_item {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 2rem;
    position: relative;
  }

  .afiction_item_left {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 2rem;
  }
}
