.container__details {
  background-color: #f4f5f5;
}

.header__container {
  width: 100%;
  height: auto;
  min-height: 40vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  background-color: white;
}

.header__contenedor {
  width: 100%;
  height: auto;
  min-height: 40vh;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: grid;
  grid-template-columns: 65% 35%;
}

/* Parte derecha */

.imagen-rest {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}

.selec-opcion {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.selec-opcion p {
  font-size: 14px;
  line-height: 1;
}

.selec-opcion div {
  margin-left: 15px;
  align-self: center;
  line-height: 5pt;
}

.selec-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.selec-opcion div h3 {
  font-size: 14px;
  font-weight: 700;
  padding-top: 10px;
}

/* Parte izquierda */

.info__content {
  margin-top: 20px;
  margin-right: 100px;
  border: none;
}

.info__content h1 {
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.5;
}

.stiky-contenedor {
  background-color: white;
  padding: 15px;
  padding-top: 45px;
  border-top: 0.3px solid gainsboro;
}

.stiky-items {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  display: flex;
}

.stiky-items p {
  margin-right: 15px;
}

.valo {
  margin-top: 0;
  margin-bottom: 0;
}

.body__details {
  width: 100%;
  max-width: 1100px;
  min-height: 50vh;
  padding-bottom: 50px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 2rem;
}

.cat_item-smoot {
  width: auto !important;
  padding-right: 10px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  margin-left: 20px;
}

.pagin {
  display: inline;
}

.anadit-to-fav {
  margin-left: 0;
  margin-right: 0;
}

.info-rest {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: #f4f5f5;
  padding: 20px;
}

.info-rest h2 {
  line-height: 0.5;
  padding-top: 15px;
}

.info-rest p {
  color: gray;
}

.info-rest img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.time-selec {
  width: 100%;
  margin-top: 20px;
  margin-left: 0;
}

@media (min-width: 320px) {
  .header__container {
    width: 100%;
    height: auto;
    min-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    background-color: white;
  }

  .header__contenedor {
    grid-template-columns: 100%;
  }

  .header__contenedor > * {
    order: 0;
  }

  .uno {
    order: 2;
    margin: 20px;
  }

  .dos {
    order: 1;
  }

  .info__content {
    margin-top: 20px;
    margin-right: 0px;
    padding-bottom: 15px;
    border-bottom: 0.3px solid gainsboro;
  }

  .selec-opcion {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
  }

  .stiky-contenedor {
    background-color: white;
    padding: 15px;
    padding-top: 25px;
  }

  .valo {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .stiky-items {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    display: flex;
  }

  .body__details {
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
  }

  .body__details > * {
    order: 0;
  }

  .one {
    order: 2;
  }

  .two {
    order: 1;
  }

  .cat_item-smoot {
    width: auto !important;
    min-width: 140px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 0px;
    text-align: center;
  }

  .pagin {
    display: none;
  }

  .anadit-to-fav {
    margin-left: 20px;
    margin-right: 20px;
  }

  .time-selec {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 321px) and (max-width: 600px) {
  .header__container {
    width: 100%;
    height: auto;
    min-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    background-color: white;
  }

  .header__contenedor {
    grid-template-columns: 100%;
  }

  .header__contenedor > * {
    order: 0;
  }

  .uno {
    order: 2;
    margin: 20px;
  }

  .dos {
    order: 1;
  }

  .info__content {
    margin-top: 20px;
    margin-right: 0px;
    padding-bottom: 15px;
    border-bottom: 0.3px solid gainsboro;
  }

  .selec-opcion {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .stiky-contenedor {
    background-color: white;
    padding: 15px;
    padding-top: 25px;
  }

  .valo {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .stiky-items {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    display: flex;
  }

  .body__details {
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
  }

  .body__details > * {
    order: 0;
  }

  .one {
    order: 2;
  }

  .two {
    order: 1;
  }

  .cat_item-smoot {
    width: auto !important;
    min-width: 140px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 0px;
    text-align: center;
  }

  .pagin {
    display: none;
  }

  .anadit-to-fav {
    margin-left: 20px;
    margin-right: 20px;
  }

  .time-selec {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header__container {
    width: 100%;
    height: auto;
    min-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    background-color: white;
  }

  .header__contenedor {
    grid-template-columns: 100%;
  }

  .header__contenedor > * {
    order: 0;
  }

  .uno {
    order: 2;
    margin: 20px;
  }

  .info__content {
    margin-top: 20px;
    margin-right: 0px;
    padding-bottom: 15px;
    border-bottom: 0.3px solid gainsboro;
  }

  .dos {
    order: 1;
  }

  .selec-opcion {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .stiky-contenedor {
    background-color: white;
    padding: 15px;
    padding-top: 25px;
  }

  .valo {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .stiky-items {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    display: flex;
  }

  .body__details {
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
  }

  .body__details > * {
    order: 0;
  }

  .one {
    order: 2;
  }

  .two {
    order: 1;
  }

  .cat_item-smoot {
    width: auto !important;
    min-width: 140px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 0px;
    text-align: center;
  }

  .pagin {
    display: none;
  }

  .anadit-to-fav {
    margin-left: 20px;
    margin-right: 20px;
  }

  .time-selec {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header__container {
    width: 100%;
    height: auto;
    min-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    background-color: white;
  }

  .header__contenedor {
    grid-template-columns: 100%;
  }

  .header__contenedor > * {
    order: 0;
  }

  .uno {
    order: 2;
    margin: 20px;
  }

  .dos {
    order: 1;
  }

  .info__content {
    margin-top: 20px;
    margin-right: 0px;
    padding-bottom: 15px;
    border-bottom: 0.3px solid gainsboro;
  }

  .selec-opcion {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .stiky-contenedor {
    background-color: white;
    padding: 15px;
    padding-top: 25px;
  }

  .valo {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .stiky-items {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    display: flex;
  }

  .body__details {
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
  }

  .body__details > * {
    order: 0;
  }

  .one {
    order: 2;
  }

  .two {
    order: 1;
  }

  .cat_item-smoot {
    width: auto !important;
    min-width: 140px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 0px;
    text-align: center;
  }

  .pagin {
    display: none;
  }

  .anadit-to-fav {
    margin-left: 20px;
    margin-right: 20px;
  }

  .time-selec {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header__container {
    width: 100%;
    height: auto;
    min-height: 30vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    background-color: white;
  }

  .header__contenedor {
    width: 100%;
    height: auto;
    min-height: 30vh;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .header__contenedor > * {
    order: 0;
  }

  .uno {
    order: 1;
    margin: 20px;
  }

  .dos {
    order: 2;
    margin: 20px;
  }

  .info__content {
    margin-top: 20px;
    margin-right: 100px;
    border: none;
  }

  .valo {
    margin-top: 0;
    margin-bottom: 0;
  }

  .selec-opcion {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
  }

  .stiky-contenedor {
    background-color: white;
    padding: 15px;
    padding-top: 40px;
  }

  .stiky-items {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    display: flex;
  }

  .body__details {
    width: 100%;
    max-width: 1100px;
    min-height: 50vh;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .body__details > * {
    order: 0;
  }

  .one {
    order: 1;
  }

  .two {
    order: 2;
  }

  .cat_item-smoot {
    width: auto !important;
    max-width: auto;
    padding-right: 10px;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
  }

  .pagin {
    display: inline;
  }

  .anadit-to-fav {
    margin-left: 0;
    margin-right: 0;
  }

  .time-selec {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header__container {
    width: 100%;
    height: auto;
    min-height: 30vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    background-color: white;
  }

  .header__contenedor {
    width: 100%;
    height: auto;
    min-height: 30vh;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .header__contenedor > * {
    order: 0;
  }

  .uno {
    order: 1;
    margin: 20px;
  }

  .dos {
    order: 2;
  }

  .info__content {
    margin-top: 20px;
    margin-right: 100px;
    border: none;
  }

  .valo {
    margin-top: 0;
    margin-bottom: 0;
  }

  .selec-opcion {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
  }

  .stiky-contenedor {
    background-color: white;
    padding: 15px;
    padding-top: 40px;
  }

  .stiky-items {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    display: flex;
  }

  .body__details {
    width: 100%;
    max-width: 1100px;
    min-height: 50vh;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .body__details > * {
    order: 0;
  }

  .one {
    order: 1;
  }

  .two {
    order: 2;
  }

  .cat_item-smoot {
    width: auto !important;
    min-width: auto;
    padding-right: 10px;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
  }

  .pagin {
    display: inline;
  }

  .anadit-to-fav {
    margin-left: 0;
    margin-right: 0;
  }
  .time-selec {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
}
