.nav {
  position: relative;
  width: 100%;
  padding: 10px 10px !important;
  background-color: transparent;
  position: fixed;
  background: "transparent";
  z-index: 99;
  margin: 0;
}

.nav.shadow {
  position: relative;
  width: 100%;
  padding: 10px 10px !important;
  background: white;
  position: fixed;
  z-index: 99;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  margin: 0;
}

.ContainerNav {
  max-width: 1100px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

/* .logo.logo-white {
  width: 150px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center center;
  background-image: url("../../Assets/images/logo.svg");
} */

.logo {
  width: 150px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center center;
  background-image: url("../../Assets/images/logo.svg");
}

.items {
  margin-left: auto;
  align-items: center;
  align-self: center;
}

.subItems {
  text-decoration: none;
  color: black;
  font-family: Helvetica;
  font-size: 16px;
}

.subItems-img {
  text-decoration: none;
  color: #ffcb40;
  font-family: Helvetica;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: -10px !important;
}

.page-loaders {
  text-align: center;
}

.subItems:hover {
  text-decoration: none;
  color: #ffcb40;
}

.btn-custom-ptimary {
  padding: 11px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  color: #ffcb40;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  outline: none;
}

.btn-custom-ptimary:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 0.3s;
}

.btn-custom-secundary {
  padding: 11px;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  color: #ffcb40;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  outline: none;
}

.btn-custom-secundary:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 0.3s;
}

.Box-notification {
  width: 350px;
  max-width: 350px;
  height: 500px;
  overflow-y: scroll;
}

.RespMenu {
  margin-left: auto;
}

.contenedor {
  height: 500px;
  overflow-y: scroll;
}

.cardwishlist {
  width: 300px;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
  padding-bottom: 20px;
}

.notifications {
  height: 500px;
  padding: 10px;
  width: 350px;
  overflow-y: scroll;
}

.imgeWish {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

.contenedor {
  height: 500px;
  width: 300px;
  overflow-y: scroll;
}

/*Escritorio*/
@media (min-width: 1199.98px) {
  .RespMenu {
    display: none;
  }
}
/*Fin Escritorio*/

/*Escritorio*/
@media (min-width: 1000px) and (max-width: 1200px) {
  .RespMenu {
    display: none;
  }
}

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
  .items {
    display: none;
  }

  .RespMenu {
    margin-left: auto;
    margin-top: 12px;
  }
  .subItems-img {
    text-decoration: none;
    color: #ffcb40;
    font-family: Helvetica;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) {
  .RespMenu {
    display: none;
  }
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px) and (orientation: portrait) {
  .logo {
    width: 120px;
    height: 50px;
  }

  .logo.logo-white {
    width: 120px;
    height: 50px;
  }

  .items {
    display: none;
  }

  .RespMenu {
    margin-left: auto;
    margin-top: 12px;
  }

  .subItems-img {
    text-decoration: none;
    color: #ffcb40;
    font-family: Helvetica;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) {
  .logo {
    width: 150px;
    height: 60px;
  }

  .logo.logo-white {
    width: 150px;
    height: 60px;
  }

  .items {
    display: none;
  }

  .RespMenu {
    margin-left: auto;
    margin-top: 12px;
  }

  .subItems-img {
    text-decoration: none;
    color: #ffcb40;
    font-family: Helvetica;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
/*fin movil #ffcb40*/
