.constainer__restaurant {
  width: 100%;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: white;
}

.constainer__restaurant_childern {
  padding: 30px;
  width: 100%;
  height: auto;
  min-height: 80vh;
  margin-bottom: 30px;
}

.small {
  max-height: 80vh;
  overflow-y: scroll;
  background-color: white;
}

.selec_meth {
  margin: 10px;
  border-bottom: 1px solid gainsboro;
  flex-direction: column;
  padding-bottom: 20px;
}

.selec_meth img {
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

.selec_meth h4 {
  font-size: 14px;
  font-weight: 700;
}

.ahora {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

.ahora p {
  font-size: 12px;
}

.ahora div {
  margin-left: 5px;
  align-self: center;
  line-height: 5pt;
}

.ahora div h3 {
  font-size: 16px;
  font-weight: 700;
}

.nav_bar_searc {
  width: 100%;
  height: 70px;
}

.search-result {
  width: 96%;
  max-width: 100%;
  justify-content: center !important;
  align-self: center;
  align-items: center !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.search-result input {
  width: 70%;
  height: 60px;
  border: 2px solid #ebebeb;
  border-radius: 7px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  text-align: left;
}

.search-result button {
  width: 25%;
  height: 60px;
  margin-left: auto;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: #ffcb40;
  color: white;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.search button:hover {
  cursor: pointer;
}

.filters {
  display: none;
}

.con-cat {
  margin-top: 30px;
}

.container__cards {
  width: 95%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 1rem;
}

.container__cards-all {
  grid-template-columns: 100%;
  margin-top: 50px;
  text-align: center;
}

.nodata {
  background-color: #f9fafa;
  text-align: center;
  padding-bottom: 40px;
}

.nodata img {
  width: 300px;
}

.nodata h1 {
  line-height: 1;
  font-weight: 700;
  font-size: 20px;
}

.nodata button {
  padding: 11px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  color: #ffcb40;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  outline: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 320px) {
  .constainer__restaurant {
    width: 100%;
    padding-top: 85px;
    display: grid;
    grid-template-columns: 100%;
  }

  .constainer__restaurant_childern {
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 80vh;
    margin-bottom: 30px;
  }

  .movil-chil {
    padding: 0px;
  }

  .small {
    display: none;
  }

  .search-result button {
    display: none;
  }

  .search-result input {
    width: 70%;
  }

  .search-result {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .filters {
    width: 60px;
    height: 60px;
    border: 2px solid #ebebeb;
    border-radius: 7px;
    outline: none;
    margin-right: 0px;
    display: inline;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .container__cards {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 321px) and (max-width: 600px) {
  .constainer__restaurant {
    width: 100%;
    padding-top: 95px;
    display: grid;
    grid-template-columns: 100%;
  }

  .constainer__restaurant_childern {
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 80vh;
    margin-bottom: 30px;
  }

  .movil-chil {
    padding: 0px;
  }

  .small {
    display: none;
  }

  .search-result button {
    display: none;
  }

  .search-result input {
    width: 75%;
  }

  .search-result {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .filters {
    width: 60px;
    height: 60px;
    border: 2px solid #ebebeb;
    border-radius: 7px;
    outline: none;
    margin-right: 0px;
    display: inline;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .container__cards {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .constainer__restaurant {
    width: 100%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 100%;
  }
  .small {
    display: none;
  }

  .constainer__restaurant_childern {
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 80vh;
    margin-bottom: 30px;
  }

  .search-result button {
    display: none;
  }

  .search-result input {
    width: 85%;
  }

  .search-result {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .filters {
    width: 60px;
    height: 60px;
    border: 2px solid #ebebeb;
    border-radius: 7px;
    outline: none;
    margin-right: 0px;
    display: inline;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .con-cat {
    margin-top: 15px;
  }

  .container__cards {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .constainer__restaurant {
    width: 100%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 100%;
  }

  .constainer__restaurant_childern {
    padding: 10px;
  }

  .small {
    display: none;
  }

  .search-result button {
    display: none;
  }

  .search-result input {
    width: 88%;
  }

  .search-result {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .filters {
    width: 60px;
    height: 60px;
    border: 2px solid #ebebeb;
    border-radius: 7px;
    outline: none;
    margin-right: 0px;
    display: inline;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .con-cat {
    margin-top: 20px;
  }

  .container__cards {
    width: 98%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .constainer__restaurant {
    width: 100%;
    max-width: 1100px;
    padding-top: 150px;
    display: grid;
    grid-template-columns: 25% 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .small {
    display: inline;
  }

  .constainer__restaurant_childern {
    padding: 10px;
  }

  .search-result button {
    display: inline;
  }

  .search-result input {
    width: 70%;
  }

  .filters {
    display: none;
  }

  .con-cat {
    margin-top: 30px;
  }
  .container__cards {
    width: 95%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .constainer__restaurant {
    width: 100%;
    max-width: 1100px;
    padding-top: 150px;
    display: grid;
    grid-template-columns: 25% 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .small {
    display: inline;
  }

  .constainer__restaurant_childern {
    padding: 10px;
  }

  .search-result button {
    display: inline;
  }

  .search-result input {
    width: 70%;
  }

  .filters {
    display: none;
  }

  .con-cat {
    margin-top: 30px;
  }

  .container__cards {
    width: 95%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
  }
}
