.software_container {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.software_container_childrem {
  width: 100%;
  max-width: 1100px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.software_item {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.software_item div {
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin: 20px;
}

.software_item div img {
  width: 400px;
  text-align: center;
  border: 10px solid rgb(56, 56, 56);
  border-radius: 10px;
}

.software_item div p {
  margin-bottom: 30px;
}

.btn-dowload {
  padding: 18px;
  width: 100%;
  max-width: 380px;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  text-decoration: none;
  background-color: #ffcb40;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline;
}

@media (min-width: 320px) {
  .software_item div img {
    width: 280px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 321px) and (max-width: 600px) {
  .software_item {
    grid-template-columns: 100%;
  }

  .software_item div h1 {
    text-align: center;
  }

  .software_item div p {
    text-align: center;
  }

  .btn-dowload {
    display: none;
  }

  .software_item div img {
    width: 350px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .software_item {
    grid-template-columns: 100%;
  }

  .software_item div h1 {
    text-align: center;
  }

  .software_item div p {
    text-align: center;
  }

  .btn-dowload {
    width: 100%;
  }

  .btn-dowload {
    display: none;
  }

  .software_item div img {
    width: 400px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .software_item {
    grid-template-columns: 100%;
  }

  .software_item div h1 {
    text-align: center;
  }

  .software_item div p {
    text-align: center;
  }

  .btn-dowload {
    display: none;
  }
  .software_item div img {
    width: 400px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .software_item {
    grid-template-columns: 50% 50%;
  }

  .software_item div h1 {
    text-align: left;
  }

  .software_item div p {
    text-align: left;
  }

  .btn-dowload {
    display: inline;
  }

  .software_item div img {
    width: 450px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .software_item {
    grid-template-columns: 50% 50%;
  }

  .software_item div h1 {
    text-align: left;
  }

  .software_item div p {
    text-align: left;
  }

  .btn-dowload {
    display: inline;
  }

  .software_item div img {
    width: 450px;
  }
}
