.bussines__containes {
  width: 100%;
  padding: 30px;
  background-color: #eeeeee;
}

.Busines__intem {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.card_busines {
  width: 100%;
  height: 230px;
  display: flex;
  background-color: white;
  margin-top: 20px;
}

.imgs__bussines {
  background-image: url("./bussines.png");
  width: 70%;
  height: 230px;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center center;
}

.imgs__app {
  background-image: url("./app.png");
  width: 70%;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center center;
}

.imgs__app__resposive {
  display: none;
}

.info_bussines {
  padding: 20px;
  margin-right: 40px;
}

.info_bussines h2 {
  font-weight: bold;
  font-size: 32px;
}

.info_bussines p {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
}

.info_bussines a {
  padding: 11px;
  width: 250px;
  border-radius: 5px;
  color: #ffcb40;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
  margin-left: auto;
  background-color: white;
  text-align: center;
  text-decoration: none;
  outline: none;
  display: flex;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

.info_bussines a:hover {
  background-color: #ffcb40;
  color: white;
}

.google_logo {
  width: 135px;
  margin-left: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card_busines {
    width: 100%;
    height: auto;
    display: block;
    background-color: white;
  }

  .google_logo {
    width: 135px;
    margin-left: 0px;
  }

  .imgs__bussines {
    background-image: url("./bussinesresp.png");
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center center;
  }

  .imgs__app {
    background-image: url("./appresponsive.png");
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    object-position: center center;
  }

  .responsive {
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-self: center;
    align-items: center;
  }

  .responsive img {
    width: 120px;
    height: 110px;
    text-align: center;
    justify-content: center;
  }

  .no_responsive {
    display: none;
  }

  .info_bussines a {
    width: 100%;
    text-align: center;
    justify-items: center;
    align-self: center;
    justify-content: center;
  }

  .info_bussines {
    padding: 20px;
    margin-right: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card_busines {
    width: 100%;
    height: auto;
    display: block;
    background-color: white;
  }

  .imgs__bussines {
    background-image: url("./bussinesresp.png");
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    object-position: center center;
  }

  .imgs__app {
    background-image: url("./appresponsive.png");
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    object-position: center center;
  }

  .responsive {
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-self: center;
    align-items: center;
  }

  .responsive img {
    width: 200px;
    height: 180px;
    text-align: center;
    justify-content: center;
  }

  .no_responsive {
    display: none;
  }

  .info_bussines a {
    width: 100%;
    text-align: center;
    justify-items: center;
    align-self: center;
    justify-content: center;
  }

  .info_bussines {
    padding: 20px;
    margin-right: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card_busines {
    width: 100%;
    height: auto;
    display: block;
    background-color: white;
  }

  .imgs__bussines {
    background-image: url("./bussinesresp.png");
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center center;
  }

  .imgs__app {
    background-image: url("./appresponsive.png");
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    object-position: center center;
  }

  .responsive {
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-self: center;
    align-items: center;
  }

  .responsive img {
    width: 400px;
    height: 350px;
    text-align: center;
    justify-content: center;
  }
  .no_responsive {
    display: none;
  }

  .info_bussines a {
    width: 100%;
    text-align: center;
    justify-items: center;
    align-self: center;
    justify-content: center;
  }

  .info_bussines {
    padding: 20px;
    margin-right: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card_busines {
    width: 100%;
    height: 230px;
    display: flex;
    background-color: white;
    margin: 20px;
  }

  .imgs__bussines {
    background-image: url("./bussines.png");
    width: 70%;
    height: 230px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    object-position: center center;
  }

  .imgs__app {
    background-image: url("./app.png");
    width: 70%;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center center;
  }

  .responsive {
    display: none;
  }
  .no_responsive {
    display: inline;
  }

  .info_bussines {
    padding: 20px;
    margin-right: 40px;
    height: 100%;
  }

  .info_bussines h2 {
    font-weight: bold;
    font-size: 32px;
  }

  .info_bussines p {
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5;
  }

  .info_bussines a {
    padding: 11px;
    width: 250px;
    border-radius: 5px;
    color: #ffcb40;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    margin-left: auto;
    background-color: white;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: flex;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  }

  .info_bussines a:hover {
    background-color: #ffcb40;
    color: white;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card_busines {
    width: 100%;
    height: 230px;
    display: flex;
    background-color: white;
    margin-top: 20px;
  }

  .imgs__bussines {
    background-image: url("./bussines.png");
    width: 70%;
    height: 230px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    object-position: center center;
  }

  .imgs__app {
    background-image: url("./app.png");
    width: 70%;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center center;
  }

  .responsive {
    display: none;
  }

  .no_responsive {
    display: inline;
  }

  .info_bussines {
    padding: 20px;
    margin-right: 40px;
  }

  .info_bussines h2 {
    font-weight: bold;
    font-size: 32px;
  }

  .info_bussines p {
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5;
  }

  .info_bussines a {
    padding: 11px;
    width: 250px;
    border-radius: 5px;
    color: #ffcb40;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    margin-left: auto;
    background-color: white;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: flex;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  }

  .info_bussines a:hover {
    background-color: #ffcb40;
    color: white;
  }
}
