.account-container {
  padding-top: 200px;
  min-height: 80vh;
}

.account-session {
  width: 100%;
  max-width: 1100px;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.cont_order {
  width: 100%;
  max-width: 1100px;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.childrem {
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 1.5rem;
  height: auto;
  margin-bottom: 30px;
}

.childrem h2 {
  font-weight: 700;
  color: gray;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .account-session {
    width: 90%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .account-session {
    width: 90%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }

  .cont_order {
    width: 90%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .account-session {
    width: 90%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }

  .cont_order {
    width: 90%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .account-session {
    width: 100%;
    max-width: 110px;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }

  .cont_order {
    width: 90%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .account-session {
    width: 100%;
    max-width: 1100px;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }

  .cont_order {
    width: 100%;
    max-width: 1100px;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
}
