.container-complementos {
}

.complement__title {
  background-color: #f4f5f5;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.complement__title h3 {
  margin-left: 15px;
  padding-top: 5px;
}

.list-chill {
  padding: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #f4f5f5;
  cursor: pointer;
  display: flex;
}

.sum-cantidad {
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  border: 1px solid #ffcb40;
  border-radius: 5px;
  padding: 10px;
  color: black;
  font-weight: 700;
}
