.container__Opiniones {
  margin-bottom: 50px;
  height: auto;
  max-height: 50vh;
  overflow-x: scroll;
}

.container__Opiniones h3 {
  font-size: 20px;
  font-weight: 700;
}

.No_opinion {
  text-align: center;
}

.opinion {
  display: flex;
  margin-top: 30px;
}

.val-client {
  margin-left: auto;
}

.info-client {
  display: flex;
}
