.card__restaurant {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
}

.img__cont {
  width: 100%;
  height: 150px;
  display: flex;
  border-radius: 7px;
  object-fit: cover;
  object-position: center center;
}

.infor_res {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  margin-top: 10px;
}

.infor_res h1 {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}

.min {
  position: absolute;
  background-color: white;
  padding: 8px;
  border-radius: 100px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  margin-top: -30px;
  right: 0;
  margin-right: 10px;
  font-size: 12px;
}

.favourite {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 0;
  margin-right: 5px;
  padding-top: 5px;
  font-size: 20px;
  z-index: 1;
  margin-top: 5px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.08);
  color: red;
}

.nuevo {
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
  position: absolute;
  background-color: #95ca3e;
  color: white;
}

.volvemos {
  position: absolute;
  z-index: 2;
  color: white;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
  margin-top: 28%;
  font-weight: 700;
  font-size: 20px;
}

@media (min-width: 320px) {
  .img__cont {
    height: 150px;
  }

  .infor_res h1 {
    width: 100%;
  }

  .volvemos {
    margin-top: 22%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 321px) and (max-width: 600px) {
  .img__cont {
    height: 170px;
  }

  .infor_res h1 {
    width: 100%;
  }

  .volvemos {
    margin-top: 18%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .img__cont {
    height: 150px;
  }

  .infor_res h1 {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .img__cont {
    height: 150px;
  }

  .volvemos {
    margin-top: 25%;
  }

  .infor_res h1 {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .img__cont {
    height: 160px;
  }

  .infor_res h1 {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .img__cont {
    height: 150px;
  }

  .infor_res h1 {
    width: 100%;
  }
}
