.my_cart {
  border-left: 8px solid #ffcb40;
  margin-bottom: 20px;
}

.btn-cont {
  margin-left: 0px;
  margin-right: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .my_cart {
    border-left: 8px solid #ffcb40;
    margin-bottom: 0px;
  }

  .btn-cont {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .my_cart {
    border-left: 8px solid #ffcb40;
    margin-bottom: 0px;
  }

  .btn-cont {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .my_cart {
    border-left: 8px solid #ffcb40;
    margin-bottom: 0px;
  }

  .btn-cont {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .my_cart {
    border-left: 8px solid #ffcb40;
    margin-bottom: 20px;
  }

  .btn-cont {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .my_cart {
    border-left: 8px solid #ffcb40;
    margin-bottom: 20px;
  }

  .btn-cont {
    margin-left: 0px;
    margin-right: 0px;
  }
}
