.ContainerformRegister {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 60px #f2f4f5;
}

.ContainerformRegister p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #ffcb40;
}
