.category-preset-slider {
  display: inline;
}

.category-preset {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.cat-name {
  display: inline;
  font-size: 10px;
}

.lis_cat {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .category-preset-slider {
    display: none;
  }
  .lis_cat {
    display: flex;
    overflow-x: scroll;
    padding-left: 0px;
    margin-top: 15px;
    padding-bottom: 20px;
  }
  .cat-name {
    display: none;
  }

  .cat_item {
    font-size: 18px;
    font-weight: 300;
    min-width: 150px !important;
    cursor: pointer;
    text-align: center;
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 100px;
    color: black;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  }

  .cat_item-seleted {
    font-size: 18px;
    font-weight: 700;
    min-width: 150px !important;
    cursor: pointer;
    text-align: center;
    background-color: #ffcb40;
    padding: 5px;
    margin: 10px;
    border-radius: 100px;
    color: white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .category-preset-slider {
    display: none;
  }
  .lis_cat {
    display: inline;
    display: flex;
    overflow-x: scroll;
    padding-left: 30px;
    margin-top: 15px;
  }
  .cat-name {
    display: none;
  }

  .cat_item {
    font-size: 18px;
    font-weight: 300;
    min-width: 130px !important;
    cursor: pointer;
    text-align: center;
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 100px;
    color: black;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  }

  .cat_item-seleted {
    font-size: 18px;
    font-weight: 700;
    min-width: 130px !important;
    cursor: pointer;
    text-align: center;
    background-color: #ffcb40;
    padding: 5px;
    margin: 10px;
    border-radius: 100px;
    color: white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .category-preset-slider {
    display: inline;
  }

  .lis_cat {
    display: none;
  }

  .cat-name {
    display: inline;
    font-size: 10px;
    font-weight: 700;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .category-preset-slider {
    display: inline;
  }

  .lis_cat {
    display: none;
  }

  .cat-name {
    display: inline;
    font-size: 10px;
    font-weight: 700;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .category-preset-slider {
    display: inline;
  }
  .cat-name {
    display: inline;
    font-size: 10px;
    font-weight: 300;
  }

  .lis_cat {
    display: none;
  }
}
