.containers {
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 100px;
}

.Containerform {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.btn-res {
  padding: 12px;
  background-color: white;
  border-radius: 5px;
  color: #ffcb40;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}
